/*********
 * 1.style 
 * 2.header 
 * 3.main 
 * 4.topページ
 * 5.footer
 * 6.modal
 * 7.setting
 * 8.project
 *********/


/*********
 * 1.style 
 *********/
html {
	height: 100%;
}

body {
	color: #555;
	font-size: 12px;
	/*font-family: 'TsukuARdGothic-Regular';*/
	height: 100%;
}

.sans-serif {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

a {
	color: #555;
	/*font-family: 'TsukuARdGothic-Regular';*/
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h2 .group-name {
	margin: 0 12px;
    font-size: 40px;
    font-weight: bold;
}

p {
	font-size: 12px;
}

.container {
	width: 850px;
	position: relative;
}

.btn {
	/*font-family: 'TsukuARdGothic-Regular';*/
    color: #fff;
    border: none;
    border-radius: 6px;
}
.btn:hover {
	color: #fff;
	opacity: 0.8;
}

.btn-default {
	background-color: #aaa;
}

.error-form {
	border: 3px solid #f00;
}

.alert {
	color: #f00;
	padding: 0;
    margin-bottom: 0;
}

.border-none {
	border: none !important;
}

.center {
	text-align: center;
}

.grey-back{
	background-color: #fafafa;
}

/*********
 * 2.header 
 *********/
#header {
	background-color: #fff;
	border-bottom: thin solid #999;
    height: 52px;
}

#header h1 {
    font-size: 32px;
    line-height: 1.5;
    float: left;
    font-weight: bold;
}

#header .icon {
	margin: 6px 0;
	margin-right: 8px;
    float: left;
    width: 40px;
}

#header .right-nav {
    float: right;
    width: 320px;
}

#header .right-nav p {
	font-size: 16px;
	float: right;
	margin-top: 14px;
	margin-left: 20px;
}

#header .user_name {
	width: 120px;
    text-align: center;
    font-size: 24px !important;
    line-height: 1;
    margin-top: 12px !important;
    font-weight: bold;
}

#header .right-nav .login-btn {
    margin-right: 20px;
}

#header .right-nav .signup-btn {
	font-size: 20px;
    background-color: #FF8240;
    text-align: center;
    margin-top: 6px;
}

/*********
 * 3.main 
 *********/
#main {
	background-color: #fff;
	padding-bottom: 20px;
	min-height: calc(100% - 112px);
}

#main h2 {
	font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    margin: 8px 0;
}

/* make-project form */
.panel-body {
    border: thin solid #ccc;
    border-radius: 6px;
    padding: 0;
    margin-bottom: 20px;
}

.panel-body-inner {
	padding: 12px 16px;
}

h3 {
	font-size: 22px;
    color: #FE8900;
}

.panel-body h3 {
	margin-bottom: 20px;
}

.panel-body .note {
	font-size: 12px;
    color: #888;
    margin-left: 12px;
}

.panel-body .btn {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 12px 0;
}

.panel-body .table {
}

.panel-body .no-element {
	display: none;
}

.panel-body th {
	text-align: center;
	background-color: #ccc;
	border-top: none !important;
	vertical-align: middle !important;
}

.panel-body td {
	text-align: center;
	border: thin solid #ccc;
	background-color: #fff;
} 

.panel-body .th-right {
	border-radius: 0 6px 0 0 ;
	/*width: 60px;*/
}

.panel-body .th-left {
	border-radius: 6px 0 0 0;
}

.panel-body .th-num, .panel-body .th-score, .panel-body .th-capacity, .panel-body .th-delete {
	width: 64px;
}

.panel-body .delete,
.panel-body .delete-existing {
	cursor: pointer;
}

.panel-body .required:after {
	content: "*";
	color: red;
}

.input-group {
    margin: 12px 0;
    width: 100%;
}

.input-group .input-group-addon {
    width: 160px;
}

.modal-body .input-group-addon {
	width: 120px;
}

.input-group .form-date {
	width: 200px;
}

.input-group .form-number {
	width: 120px;
}

.input-group textarea {
	margin: 0px;
    width: 100%;
    padding: 8px 12px;
    border: thin solid #ccc;
    border-radius: 0 4px 4px 0;
}

.table .replace-input {
    width: 100%;
}

.table .detail {
    display: inline-block;
    min-width: 100%;
    min-height: 16px;
}

.table .column-3 .note {
	text-decoration: underline;
	font-size: 10px;
}

.ng {
    color: #f00;
}
.ok {
    color: #53CACA;
}

/*********
 * 4.topページ 
 *********/
@media (min-width: 960px) {
	#main_visual {
		background-size: 100%;
	}
}

#main_visual {
	height: 400px;
	background-image: url("/public/images/main_visual.png");
	box-shadow: 0 5px 10px #ccc;
}

#main_visual .signup-btn {
	margin-top: 20px;
    background-color: #FF8240;
    font-size: 20px;
    font-weight: bold;
}

#main_visual .box {
	width: 220px;
	border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px #aaa;
}

#main_visual .sub-title {
	position: absolute;
    top: 60px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 1.5;
}

#login-box {
    background-color: #eee;
    padding: 20px;
    margin-top: 60px;
}

#login-box input {
	width: 100%;
	margin-bottom: 12px;
}

#login-box .signin-btn {
	background-color: #4688FC;
    font-size: 16px;
    margin: 12px 0;
}

#top-main {
	min-height: calc(100% - 512px);
}

#top-main .sub-title {
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*********
 * 5.footer
 *********/
#footer {
    height: 60px;
    background-color: #ccc;
}

#footer .team {
	text-align: center;
	padding-top: 20px;
}

/*********
 * 6.mypageページ
 *********/
.makeproject-btn {
	margin: 8px 0;
    background-color: #FF8240;
    /*box-shadow: 0 0 3px #888;*/
}

.register-btn {
	background-color: #FF8240;
}

.edit-btn {
	background-color: #57B239;
}

.result-btn {
	background-color: #4688FC;
}

.back-btn {
	margin-top: 12px;
}

#news-block h3 {
	float: left;
    font-size: 18px;
    margin-right: 20px;
}

#news-block .note {
	float: left;
    color: #f00;
}

#news-block .seeMore {
	float: right;
    font-size: 14px;
}

.view-toggle {
	background-color: #DDD;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
}

.view-toggle i {
	font-size: 24px;
    line-height: 1.3;
}

.projects-block {
	margin-top: 32px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

.projects-block h3 {
	font-size: 16px;
    height: 30px;
    line-height: 1.5;
}

.project-table th {
	padding: 0 !important;
    height: 20px;
    text-align: center;
}

.project-table td {
	height: 44px;
    vertical-align: middle !important;
    text-align: center;
}

.project-table .column-1 {
	width: 60%;
}

.project-table .column-1 a {
	color: #FF8240;
	/*font-family: 'TsukuARdGothic-Regular';*/
    font-size: 20px;
    font-weight: bold;
}

.project-table .column-2 {
	width: 20%;
}

/*********
 * 6.modal 
 *********/

.modal-open {
	overflow: visible!important;
	position: static!important;
}

.modal-header {
    padding: 6px 12px;
}

.modal-header h3 {
	color: #888;
}

.modal-header .close {
    margin-top: 6px;
}

/*********
 * 7.setting
 *********/
.signout-field h3 {
	margin-bottom: 12px;
}

/*********
 * 8.project
 *********/
#project .input-group .input-group-addon {
	border-right: thin solid #ccc;
}

#project .form-control {
	height: auto;
	border: none;
    box-shadow: none;
}

#project .group-detail td {
	padding: 0;
}
#project .group-detail td div {
	background-color: #999;
    color: #fff;
    display: none;
    padding: 12px;
    padding-left: 65px;
    text-align: left;
    position: relative;
}
#project .group-detail td div:before {
	content: "詳細";
    top: 8px;
    left: 16px;
    position: absolute;
    border: thin solid #fff;
    border-radius: 5px;
    padding: 2px 8px;
    background-color: #fff;
    color: #999;
    font-weight: bold;
}

.grey-back .form-control {
	background-color: #fafafa;
}
.btn-field {
	margin-bottom: 20px;
}