/*********
 * 1.style 
 * 2.header 
 * 3.main 
 * 4.topページ
 * 5.footer
 *********/


/*********
 * 1.style 
 *********/
html {
	height: 100%;
}

body {
	color: #555;
	font-size: 12px;
	font-family: 'TsukuARdGothic-Regular';
	height: 100%;
}

.sans-serif {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

a {
	color: #555;
	font-family: 'TsukuARdGothic-Regular';
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

p {
	font-size: 12px;
}

.container {
	width: 850px;
	position: relative;
}

.btn {
	font-family: 'TsukuARdGothic-Regular';
	color: #fff;
	border: none;
    border-radius: 6px;
    font-weight: bold;
}
.btn:hover {
	color: #fff;
	opacity: 0.8;
}

/*********
 * 2.header 
 *********/
#header {
	background-color: #fff;
	border-bottom: thin solid #999;
    height: 52px;
}

#header h1 {
    font-size: 32px;
    line-height: 1.5;
    float: left;
    font-weight: bold;
}

#header .icon {
	margin: 6px 0;
	margin-right: 8px;
    float: left;
    width: 40px;
}

#header .right-nav {
    float: right;
}

#header .right-nav p {
	font-size: 16px;
	float: left;
	margin-top: 14px;
	margin-left: 20px;
}

#header .right-nav .login-btn {
    margin-right: 20px;
}

#header .right-nav .signup-btn {
	font-size: 20px;
    background-color: #FF8240;
    text-align: center;
    margin-top: 6px;
}

/*********
 * 3.main 
 *********/
#main {
	background-color: #fff;
	padding-bottom: 20px;
	min-height: calc(100% - 112px);
}

#main h2 {
	font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    margin: 8px 0;
}

/*********
 * 4.topページ 
 *********/
@media (min-width: 960px) {
	#main_visual {
		background-size: 100%;
	}
}

#main_visual {
	height: 400px;
	background-image: url("/public/images/main_visual.png");
	box-shadow: 0 5px 10px #ccc;
}

#main_visual .signup-btn {
	margin-top: 20px;
    background-color: #FF8240;
    font-size: 20px;
    font-weight: bold;
}

#main_visual .box {
	width: 220px;
	border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px #aaa;
}

#main_visual .sub-title {
	position: absolute;
    top: 60px;
    right: 20px;
    color: #fff;
    font-size: 30px;
    line-height: 1.5;
}

#login-box {
    background-color: #eee;
    padding: 20px;
    margin-top: 60px;
}

#login-box input {
	width: 100%;
	margin-bottom: 12px;
}

#login-box .signin-btn {
	background-color: #4688FC;
    font-size: 16px;
    margin: 12px 0;
}

#top-main {
	min-height: calc(100% - 512px);
}

#top-main .sub-title {
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/*********
 * 5.footer
 *********/
#footer {
    height: 60px;
    background-color: #ccc;
}

#footer .team {
	text-align: center;
	padding-top: 20px;
}

/*********
 * 6.mypageページ
 *********/
.makeproject-btn {
	margin: 8px 0;
    background-color: #FF8240;
    box-shadow: 0 0 3px #888;
}

.register-btn {
	background-color: #FF8240;
}

.edit-btn {
	background-color: #57B239;
}

.result-btn {
	background-color: #4688FC;
}

#news-block h3 {
	float: left;
    font-size: 18px;
    margin-right: 20px;
}

#news-block .note {
	float: left;
    color: #f00;
}

#news-block .seeMore {
	float: right;
    font-size: 14px;
}

.view-toggle {
	background-color: #DDD;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
}

.view-toggle i {
	font-size: 24px;
    line-height: 1.3;
}

.projects-block {
	margin-top: 32px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

.projects-block h3 {
	font-size: 16px;
    height: 30px;
    line-height: 1.5;
}

.project-table th {
	padding: 0 !important;
    height: 20px;
    text-align: center;
}

.project-table td {
	height: 44px;
    vertical-align: middle !important;
    text-align: center;
}

.project-table .column-1 {
	width: 60%;
}

.project-table .column-1 a {
	color: #FF8240;
	font-family: 'TsukuARdGothic-Regular';
    font-size: 20px;
    font-weight: bold;
}

.project-table .column-2 {
	width: 20%;
}
