*{<meta charset="utf-8">}*
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP" xml:lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="@{'/public/javascripts/jquery-2.1.4.js'}" type="text/javascript" charset="utf-8"></script>
  <script src="/public/javascripts/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>exp4main</title>
</head>
<body>
<div id="header">
	<div class="container">
    <h1><a href="@{mypage()}"><img class="icon" src="/public/images/icon.png"></a></h1>
    <div class="right-nav clearfix">
      <p class="sans-serif">ユーザ名</p>
      <a href="@{setting()}"><p class="setting-btn">設定</p></a>
      <a href="@{logout()}"><p class="logout-btn">ログアウト</p></a>
    </div>
  </div>
</div>
<div id="main" class="container">
#{doLayout /}
</div>
<div id="footer">
  <p class="team">Team: white_plum</p>
</div>
</body>
</html>
