*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<h2>プロジェクトを作成</h2>

#{if MP.size()!=0}
<div class="panel-body">
  <div class="panel-body-inner">
    <h3>以前作ったプロジェクトを使用する</h3>
    <div class="input-group">
      <span class="input-group-addon">プロジェクトを選択</span>
      <select class="form-control">
        <option>使用しない</option>
        #{list items:MP, as : 'ele'}
        <option>${ele.name}</option>
        #{/list}
      </select>
    </div>
  </div>
</div>
#{/if}

<form id="make-project" action="@{saveProject}">

<div class="panel-body">
  <div class="panel-body-inner">
    <h3>基本情報<span class="note">プロジェクトの基本的な情報 ( </span><span class="required"></span><span class="note">は必須項目)</span></h3>
    <div class="input-group">
      <span class="input-group-addon required">プロジェクト名</span>
      <input class="form-control" type="text" name="name" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon">詳細</span>
      <textarea class="form-control" type="text" name="detail" placeholder="プロジェクトの説明"></textarea>
    </div>
    <div class="input-group">
      <span class="input-group-addon required">締め切り</span>
      <input class="form-control form-date" type="date" name="deadline" min="2016-01-04" required>
    </div>
    <div class="input-group">
      <span class="input-group-addon required">決定基準</span>
      <select class="form-control form-number" name="assign_system" required>
        <option></option>
        <option value="1">点数優先</option>
        <option value="2">じゃんけん</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon required">第n希望まで登録</span>
      <select class="form-control form-number" name="wish_limit" required>
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
  </div>
</div>

<div class="panel-body panel-group">
  <div class="panel-body-inner">
    <h3>グループ<span class="note">グループ情報</span></h3>

    <div class="input-group">
      <span class="input-group-addon">グループに誰が登録したのかを閲覧可能にする</span>
      <select class="form-control form-number" name="public_register_user">
        <option value="1">はい</option>
        <option value="2" selected>いいえ</option>
      </select>
    </div>
    <div class="input-group">
      <span class="input-group-addon">グループに何人登録したのかを閲覧可能にする</span>
      <select class="form-control form-number" name="public_register_number">
        <option value="1">はい</option>
        <option value="2" selected>いいえ</option>
      </select>
    </div>

    <p id="validation-group"></p>
    <button type="button" class="btn" data-toggle="modal" data-target="#add-group-modal">＋グループを追加</button>
    <table class="table">
      <tbody id="groups-field" class="no-element">
        <tr>
          <th class="th-left">グループ名</th>
          <th class="th-capacity">定員</th>
          <th>詳細</th>
          <th class="th-right">削除</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel-body panel-users">
  <div class="panel-body-inner">
    <h3>参加ユーザ<span class="note">参加ユーザ情報(自分も参加可能)</span></h3>

    <div class="input-group">
      <span class="input-group-addon">参加ユーザが他の参加ユーザの名前を閲覧可能にする</span>
      <select class="form-control form-number" name="public_user">
        <option value="1">はい</option>
        <option value="2" selected>いいえ</option>
      </select>
    </div>

    <p id="validation-user"></p>
    <button type="button" class="btn" data-toggle="modal" data-target="#add-user-modal">＋ユーザを追加</button>
    <table class="table">
      <tbody id="users-field" class="no-element">
        <tr>
          <th class="th-left"><span>ユーザ名</span></th>
          <th class="th-score">点数</th>
          <th class="th-right">削除</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel-body">
  <div class="panel-body-inner">
    <h3>詳細設定<span class="note">グループの振り分けに関する詳細設定など</span></h3>

    <div class="input-group">
      <span class="input-group-addon">振り分けの優先</span>
      <select class="form-control form-number" name="assign_system">
        <option value="1">志望を優先する</option>
        <option value="2">点数を優先する</option>
      </select>
    </div>
    <p class="note">
      ※志望を優先・・・点数の高い第２志望より点数の低い第１志望を優先します。<br>
      　点数を優先・・・点数の低い第１志望より点数の高い第２志望を優先します。
    </p>
    <div class="input-group">
      <span class="input-group-addon">すべての志望が通らなかった人をランダムで空いてるグループに振り分ける</span>
      <select class="form-control form-number" name="trash">
        <option value="1">はい</option>
        <option value="2" selected>いいえ</option>
      </select>
    </div>
    <p class="note">※「いいえ」を選択した場合、参加ユーザがどこにも所属できない場合があります。</p>
  </div>
</div>

  <div id="input-groups-field"></div>
  <input type="hidden" name="group-num" value="0">
  <div id="input-users-field"></div>
  <input type="hidden" name="user-num" value="0">
  <input class="register-btn btn" type="submit" value="プロジェクトを保存する">
</form>

<form action="mypage">
  <input class="back-btn btn" type="submit" value="戻る">
</form>

  <!-- <input type="text" name="project[name]">
  <input type="date" name="project[deadline]">
  <select name="project[assign_system]">
    <option value="1">点数優劣</option>
    <option value="2">ジャンケン</option>
  </select>
  <input type="number" name="wish_limit">
  
  <button type="button" class="btn" data-toggle="modal" data-target="#add-group-modal">グループを追加</button>
  <div id="groups-field"></div> -->

<!-- グループ追加 Modal -->
<div class="modal fade" id="add-group-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">グループを追加</h3>
      </div>
      <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">グループ名</span>
      <input class="form form-control" type="text" name="name">
    </div>
    <p id="validation-group-name"></p>
    <div class="input-group">
      <span class="input-group-addon">定員</span>
      <input class="form form-control form-number" type="text" name="capacity">
    </div>
    <p id="validation-group-capacity"></p>
    <div class="input-group">
      <span class="input-group-addon">詳細</span>
      <textarea class="form" name="detail"></textarea>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button id="add-group-btn" type="button" class="btn btn-primary" disabled data-dismiss="modal">追加する</button>
      </div>
    </div>
  </div>
</div>

<!-- 参加ユーザ追加 Modal -->
<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">ユーザを追加</h3>
      </div>
      <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon">ユーザ名</span>
      <input class="form form-control" type="text" name="name">
    </div>
    <p id="validation-user-name"></p>
    <div class="input-group">
      <span class="input-group-addon">点数</span>
      <input class="form form-control form-number" type="text" name="score">
    </div>
    <p id="validation-user-score"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button id="add-user-btn" type="button" class="btn btn-primary" data-dismiss="modal" disabled>追加する</button>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
    $(window).on('beforeunload', function() {
        return "入力中のデータはまだ保存されていません。";
    });
});
</script>
