*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<h2>マイページ</h2>

<div id="news-block" class="sans-serif">
	<h3>お知らせ</h3>
	<p class="note">2件のお知らせがあります。</p>
	<a class="seeMore" href="">過去のお知らせを見る</a>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td>12/18</td>
				<td>プロジェクト「<a href="@{project()}">H26 情報工学科研究室振り分け</a>」に招待されました。</td>
			</tr>
			<tr>
				<td>12/17</td>
				<td>プロジェクト「<a href="@{project()}">H26 情報工学科研究室振り分け</a>」の結果が出ました。</td>
			</tr>
		</tbody>
	</table>
</div>

<form action="makeProject">
	<input class="makeproject-btn btn" type="submit" value="プロジェクト作成">
</form>

<div id="invited-projects-block" class="projects-block">
	<div class="view-toggle"><i class="fa fa-caret-down"></i></div>
	<h3>招待されているプロジェクト</h3>
	<table class="table table-bordered project-table">
		<tbody>
			<tr>
				<th>プロジェクト</th>
				<th>締め切り</th>
				<th>登録</th>
			</tr>
			<tr>
				<td class="column-1"><a href="@{project()}">H26 情報工学科研究室振り分け</a></td>
				<td class="column-2">12/18</td>
				<td class="column-3"><a class="register-btn btn" href="@{register()}">登録する</a></td>
			</tr>
			<tr>
				<td class="column-1"><a href="@{project()}">グループ振り分け</a></td>
				<td class="column-2">12/18</td>
				<td class="column-3">登録済み</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="created-projects-block" class="projects-block">
	<div class="view-toggle"><i class="fa fa-caret-down"></i></div>
	<h3>作成したプロジェクト</h3>
	<table class="table table-bordered project-table">
		<tbody>
			<tr>
				<th>プロジェクト</th>
				<th>締め切り</th>
				<th>登録</th>
			</tr>
			<tr>
				<td class="column-1"><a href="@{project()}">H26 情報工学科研究室振り分け</a></td>
				<td class="column-2">12/18</td>
				<td class="column-3"><a class="edit-btn btn" href="@{editProject()}">編集する</a></td>
			</tr>
			<tr>
				<td class="column-1"><a href="@{project()}">グループ振り分け</a></td>
				<td class="column-2">終了</td>
				<td class="column-3"><a class="result-btn btn" href="@{result()}">結果を見る</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div id="join-projects-block" class="projects-block">
	<div class="view-toggle"><i class="fa fa-caret-down"></i></div>
	<h3>参加したプロジェクト</h3>
	<table class="table table-bordered project-table">
		<tbody>
			<tr>
				<th>プロジェクト</th>
				<th>あなたのグループ</th>
				<th>登録</th>
			</tr>
			<tr>
				<td class="column-1"><a href="@{project()}">グループ振り分け</a></td>
				<td class="column-2">林研究室</td>
				<td class="column-3"><a class="result-btn btn" href="@{result()}">結果を見る</a></td>
			</tr>
		</tbody>
	</table>

	#{list items:InR, as : 'InR'}
	${InR.deadline}
	#{/list}
	#{list items:IR, as : 'IR'}
	${IR.deadline}
	#{/list}
	#{list items:FnR, as : 'FnR'}
	${FnR.deadline}
	#{/list}
	#{list items:FR, as : 'FR'}
	${R.deadline}
	#{/list}
</div>
