*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<h2>ニュース</h2>

#{list items:news, as : 'news'}
	<ul>
		<li>${news.type}
	</ul>
#{/list}
<div id="news-block" class="sans-serif">
	<h3>お知らせ</h3>
	<p class="note">2件のお知らせがあります。</p>
	<a class="seeMore" href="@{news()}">過去のお知らせを見る</a>
	<table class="table table-bordered">
		<tbody>
			#{list items:news, as : 'news'}
			<tr>
				<td>${news.date.getMonth()+1}/${news.date.getDate()}</td>
				<td>プロジェクト「<a href="@{project()}">H26 情報工学科研究室振り分け</a>」に招待されました。</td>
			</tr>
			#{/list}
			<tr>
				<td>12/17</td>
				<td>プロジェクト「<a href="@{project()}">H26 情報工学科研究室振り分け</a>」の結果が出ました。</td>
			</tr>
		</tbody>
	</table>
</div>
