*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}

<h2>${project.name}</h2>

<div class="btn-field center">
	#{if project.owner_id == u.id}
	<a class="edit-btn btn" href="@{editProject(project.id)}">編集する</a>
	#{/if}
	#{elseif models.UserProject.checkUserProject(u.id, project.id)}
	<a class="makeproject-btn btn" href="@{register(project.id)}">登録する</a>
	#{/elseif}
	#{else}
	<a class="result-btn btn" href="@{result(project.id)}">結果を見る</a>
	#{/else}
</div>

<!-- <table>
	<tr>
		<td>グループ名</td>
		<td>詳細</td>
		<td>定員</td>
		<td>登録人数</td>
		<td>登録ユーザ名前</td>
	</tr>

	#{list items:groups, as:'group'}
	<tr>
		<td>${group.name}</td>
		<td>${group.detail}</td>
		<td>${group.capacity}</td>
		%{
			users = models.UserGroup.getUsersByGroupID(group.id);
		}%
		<td>${users.size()}</td>
		<td>
			#{list items:users, as:'user'}
				${user.name},
			#{/list}
		</td>
	</tr>
	#{/list}

</table> -->

<div id="project" class="panel-body panel-body-inner">
	<div class="input-group">
    	<span class="input-group-addon">作成者</span>
      	<span class="form-control">${owner_name}</span>
    </div>
    <div class="input-group">
      	<span class="input-group-addon">プロジェクト説明</span>
      	<p class="form-control">${project.detail}</p>
    </div>
    <div class="input-group">
      	<span class="input-group-addon">締め切り</span>
      	<span class="form-control">${project.deadline.getMonth()+1}/${project.deadline.getDate()}</span>
    </div>
    <div class="input-group">
      	<span class="input-group-addon">志望数</span>
      	<span class="form-control">第${project.wish_limit}志望まで</span>
    </div>
    <div class="panel-body panel-body-inner border-none">
    	<h3>詳細情報</h3>
	    <div class="input-group">
	      	<span class="input-group-addon">振り分け方式</span>
	      	<span class="form-control">
	      		#{if project.assign_system==1}
	      			点数優先
	      		#{/if}
	      		#{elseif project.assign_system==2}
	      			じゃんけん
	      		#{/elseif}
	      	</span>
	    </div>
	    <div class="input-group">
	      	<span class="input-group-addon">すべての志望が通らなかった人</span>
	      	<span class="form-control">
	      		#{if project.trash==1}
	      			ランダムで空いてるグループに振り分ける
	      		#{/if}
	      		#{elseif project.trash==2}
	      			どこのグループにも所属しない
	      		#{/elseif}
	      	</span>
	    </div>
	    <div class="input-group">
	      	<span class="input-group-addon">志望を優先か点数を優先か</span>
	      	<span class="form-control">
	      		#{if project.allocation_method==1}
	      			志望を優先
	      		#{/if}
	      		#{elseif project.allocation_method==2}
	      			点数を優先
	      		#{/elseif}
	      	</span>
	    </div>
	</div>
	<div class="panel-body panel-body-inner border-none">
		<h3>グループ</h3>
		<table class="table">
	      <tbody id="groups-field">
	        <tr>
	          <th class="th-left"><span>グループ名</span></th>
	          <th class="th-capacity th-num">定員</th>
	          <th class="th-right th-num">登録人数</th>
	        </tr>
	        #{list items:groups, as:'group'}
	        	<tr class='group'>
					<td>${group.name}</td>
					<td>${group.capacity}</td>
				%{
					users = models.UserGroup.getUsersByGroupID(group.id);
				}%
					<td>${users.size()}</td>
				</tr>
	        #{/list}
	      </tbody>
	    </table>
    </div>
    <div class="panel-body panel-body-inner border-none">
		<h3>参加ユーザ</h3>
		<table class="table">
	      <tbody id="users-field">
	        <tr>
	          <th class="th-left"><span>ユーザ名</span></th>
	          <th class="th-capacity">点数</th>
	          <th class="th-right">登録グループ</th>
	        </tr>
	        #{list items:joinUsers, as:'user'}
	        	<tr class='user'>
					<td>${user.name}</td>
					<td>${models.UserProject.getScore(user.id, project.id)}</td>
					<td>
						#{if models.UserProject.getRegistered(user.id, project.id)}

						#{/if}
						#{else}
							未登録
						#{/else}
					</td>
				</tr>
	        #{/list}
	      </tbody>
	    </table>
    </div>
</div>

<div class="center">
	#{if project.owner_id == u.id}
	<a class="edit-btn btn" href="@{editProject(project.id)}">編集する</a>
	#{/if}
	#{elseif models.UserProject.checkUserProject(u.id, project.id)}
	<a class="makeproject-btn btn" href="@{register(project.id)}">登録する</a>
	#{/elseif}
	#{else}
	<a class="result-btn btn" href="@{result(project.id)}">結果を見る</a>
	#{/else}
</div>

<form action="mypage">
	<input class="back-btn btn" type="submit" value="マイページに戻る">
</form>
