*{<meta charset="utf-8">}*
#{extends 'Application/header.html' /}
<h2>登録</h2>

<form action="@{saveRegistration}">
<input type="hidden" name="projectID" value="${projectID}" />
<input type="hidden" name="wishLimit" value="${wishLimit}" />


#{list items:wishRank, as:'rank'}
	<p>第${rank}志望</p>
	
	<select name="wish-${rank}">
		#{list items:groups, as:'group'}
			<option value="${group.id}">${group.name}</option>
		#{/list}
	</select>
#{/list}

	<input type="submit" value="登録する">
</form>

<form action="mypage">
	<input type="submit" value="マイページに戻る">
</form>